<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>tweet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>退院しました🏥\n久しぶりに息子と遊んだら疲れたのか鼓膜の奥が変な感じ？なので、今日は早めに休みます😇\n夜は退院お祝いで、野田岩さんの鰻をいただきました。有難うございました。</td>
    </tr>
    <tr>
      <td>今日午後退院できそうなので、久しぶりにメイクしてみた。しかし入院中はずっとスッピン生活だったのでメイク後の顔に逆に違和感感じてる。サークルレンズを入れるだけでも違和感。</td>
    </tr>
    <tr>
      <td>今は子供ができて炊飯頻度が増えたのと、予約機能使いたいので炊飯器買い直して使ってる。保温目的ではほとんど使ってないかな。(炊いた分はすぐに全て取り出して、ストックしたい分はフリージングしてしまうので)</td>
    </tr>
    <tr>
      <td>土鍋炊飯(というか圧力鍋炊飯)、一時期ずっとしていたけれど、「技術の蓄積と進歩を信用していない」わけではなくて、単純に炊飯する頻度が低すぎて炊飯器を置いておく場所が完全にデッドスペースになっていたのが嫌で、炊飯器を捨てた。鍋で炊くと炊飯時間も短縮できたし良かった。</td>
    </tr>
    <tr>
      <td>3日に一度程度の頻度で頭部CTを撮っているのですが、毎回CTの終わりがけ(?)に独特の特殊な匂いを感じる。\n今日初めて技師さんにそれを伝えてみたのだが「匂いは特に〜無いはずですが〜🤔」って言われる。ですよね。でも毎回感じるのだよなあ………</td>
    </tr>
    <tr>
      <td>痙攣予防のお薬、もう飲まなくてよいことになった。</td>
    </tr>
    <tr>
      <td>自分も誰しも老いて、いつか同じような症状になる可能性はあるよなあ、と思う。そのときどう対処すれば良いのかなあ、と考えることがよくある。答えは出ない。。</td>
    </tr>
    <tr>
      <td>脳神経外科の入院病棟だからか、やっぱりすごくカオス。特に夜間。夜間せん妄の方が意外と多い。昨夜も同じ病室の方の代わりにナースコールを押してあげた。(ナースコールがあることに気がついていないというか、病院にいることを理解していないかんじだった。)</td>
    </tr>
    <tr>
      <td>おばあさん、今日からパン食に切り替えてもらえたみたいで普通に食べてて良いかんじ。良かったね。</td>
    </tr>
    <tr>
      <td>術後、左脚に麻痺が出る可能性があると言われていたけれど、特に今のところ後遺症とか一切無いな。頭痛すらないし。はよコロナ収束して、泳ぎに行きたいわ。</td>
    </tr>
    <tr>
      <td>抜鉤、勿論麻酔は無しで普通にホチキスを抜くみたいに抜き去るのだけれど、それほど痛くなくてよかった。採血とか点滴されるときくらいの痛みがあるくらい。チクッと。それが留めてある箇所分続く感じ。</td>
    </tr>
    <tr>
      <td>抜鉤しました！\n頭皮に刺さっていたステープラー、今までありがとね~~👋 pic.twitter.com/PQG8isYGe6</td>
    </tr>
    <tr>
      <td>じしん？</td>
    </tr>
    <tr>
      <td>起きて眠れなくなって結構経った</td>
    </tr>
    <tr>
      <td>城田さんから即レス来てビビった2020mixi</td>
    </tr>
    <tr>
      <td>術後ICUで、寝返りどころか首を動かすことすら自力では出来なかった頃、夫が(コロナの影響で超短時間ではあるが)お見舞いに来てくれて、差し入れとしてそっと「めぐりズム 蒸気でホットアイマスク 12枚入」を置いていった。何故かそれにすごく感激した。こんなにわたしのこと分かる人いる？？？？</td>
    </tr>
    <tr>
      <td>ベッドで必死にクロールしていたら主治医が来て、退院予定が若干早まった。(いや既に当初よりは延びてはいるが)\nやっぱりクロールしておくものだなぁ〜〜🏊‍♀️</td>
    </tr>
    <tr>
      <td>これは2007/11/30です。\n13年前です。 pic.twitter.com/YasxmWQg4P</td>
    </tr>
    <tr>
      <td>今日も昔の写真をアップします。(暇)</td>
    </tr>
    <tr>
      <td>城田さんお誕生日おめでとうございます</td>
    </tr>
    <tr>
      <td>普通に元気すぎるので、血圧すら測られなくなって、薬も自分で管理して飲んでる。ただ放置されてる状態。\nご飯だけ運ばれてきて、養鶏場の鶏みたいな気持ちです🐔\nCTたまに撮るけど「今日のCTも良かったよ〜」って言われてる。何が良かったのか🤔</td>
    </tr>
    <tr>
      <td>暇すぎて、ベッドの上でクロールしてた。次はバタフライします。</td>
    </tr>
    <tr>
      <td>退院したみが溢れてきてる</td>
    </tr>
    <tr>
      <td>また退院延びそうな気配、、、もう数独し続けるのにも飽きたのですけれども</td>
    </tr>
    <tr>
      <td>下界、暑いっぽいですね。</td>
    </tr>
    <tr>
      <td>そういえばコトキとドバイで撮ったときのデータ受け取ってない気がする</td>
    </tr>
    <tr>
      <td>ゆかとわたしと写ルンです pic.twitter.com/FbyuWxt15T</td>
    </tr>
    <tr>
      <td>ナナセとtelして楽しかった〜〜📲\nナナセ長生きしてくれ〜〜</td>
    </tr>
    <tr>
      <td>看護師さん「趣味はなんですか？」\nおばあさん「フランスでね…ロマネスクの教会をね、…見て回るのが…好き…」\nマジで何者なんだ🤔？？？？</td>
    </tr>
    <tr>
      <td>隣のベッドの生きる気力感じない系のおばあさん(88)「和食嫌い😠」とか言って白米食べてる様子も無くて、点滴とか鼻の管から栄養入れてたから心配してたんだけれど、看護師さんとの会話聞いてたら、マジで和食が嫌いなだけっぽくて「エスカルゴ食べたい🐌」とか言ってて面白かった。</td>
    </tr>
    <tr>
      <td>傷口(というか、頭皮の中)が痒すぎて忍耐力が試されている。</td>
    </tr>
    <tr>
      <td>2008当時、確かに脳梗塞あるって言われたんだよな……。それなのに今は脳腫瘍はあるけど脳梗塞は無いと言われてる。消えた…🤔？</td>
    </tr>
    <tr>
      <td>2006/02/27の生データ生きてたらしい\nすごくない？？？？？？？？ https://twitter.com/yashiro_garden/status/1272010791516909569 …</td>
    </tr>
    <tr>
      <td>傷口治りかけなのか痒い！！！！！！！！！</td>
    </tr>
    <tr>
      <td>一部の友人に送りましたが、こちらはお蔵入りとなりました。</td>
    </tr>
    <tr>
      <td>入院病棟前のセキュリティゲートの改札越しに超久しぶりに息子と再会した。なんか前頭葉が発達していてEラインが綺麗になってた。</td>
    </tr>
    <tr>
      <td>隣のベッドの生きる気力感じられないおばあさんも今日抜鉤かあ。わたしも早く抜鉤して人間になりたい🤕痒い。</td>
    </tr>
    <tr>
      <td>2006/02/27</td>
    </tr>
    <tr>
      <td>一部発掘できた\n酷い画素数でしか残ってない pic.twitter.com/qt4nMVgStt</td>
    </tr>
    <tr>
      <td>やっしーと撮った赤襦袢の写真とかどこ消えたんだろ、あれは確か2004か2005くらいだと思うが…。気に入っていたのだけれど、発掘されないわ。</td>
    </tr>
    <tr>
      <td>「頭蓋骨を開けた後、頭皮と頭蓋骨の間に髄液が貯留しているのを吸収させるために圧迫バンドを上手く装置したい人向けのHOW TO動画」を撮りました。</td>
    </tr>
    <tr>
      <td>埋め込んだままにしておくのもアリ🤔？</td>
    </tr>
    <tr>
      <td>同室の別のベッドの人が抜鉤(頭の医療用ホチキスを抜くこと)したみたいなのだけれど、看護師さんが「たまーに先生が何本か抜き忘れてることがあるので、確認させてくださいね~」って話しているのが聞こえてくる。</td>
    </tr>
    <tr>
      <td>お写真たくさん残しておいて良かったよ。記録重要。昔アップしていた写真って、「なんでこのお写真セレクトしたんだ🤔？？？？」というような、今の感性では到底理解できないものも多いのだけれど、その感覚も含めて大事にしたいので、再アップするときには特に手を加えたくないのだよな。</td>
    </tr>
    <tr>
      <td>mixi遡っていたら、2008年当時も脳アンギオしてたわ。マジか、、記憶から消滅してたわ。。</td>
    </tr>
    <tr>
      <td>12年前っていくつだろ🤔えーと、2歳？</td>
    </tr>
    <tr>
      <td>滝とか川に浸かったりして当時は本当に楽しかったなあ🤗元データ消滅してるから貴重。先生が元データ発掘してくれるって信じてる🤗</td>
    </tr>
    <tr>
      <td>更に発掘した。mixiやっぱすごいわ。 pic.twitter.com/jRDlmQBqq2</td>
    </tr>
    <tr>
      <td>mixiから発掘してきた。いろいろ時代を感じるけど、敢えてそのままアップする。2008/08/01撮影らしい。えっ、、12年前？？？？？\nこの頃から脳梗塞あるね🤗って言われてた。(いつの間にか梗塞は無くなり腫瘍に…)もうずっと頭悪かったんだな〜〜 pic.twitter.com/cDxGNkQ4Hb</td>
    </tr>
    <tr>
      <td>息子ともう2週間以上会ってない。ママって非実在になったのかな🤔？とか考えたりするのかな</td>
    </tr>
    <tr>
      <td>病院食、普通に超美味しい</td>
    </tr>
    <tr>
      <td>本来の予定では今日退院予定だったけれど、傷口の進捗具合がまだアレらしく、帰れず。来週退院ぽいな。</td>
    </tr>
    <tr>
      <td>爪切りたすぎる……………………………</td>
    </tr>
    <tr>
      <td>今日もCTで多少暇潰ししたけれど、暇。</td>
    </tr>
    <tr>
      <td>脳外科の入院病床なので、結構カオスです。自分は恐らく患者さんの中でいちばん若い。</td>
    </tr>
    <tr>
      <td>コロナの影響で生活環境が変わり、最近太り気味だったのでちょうど良かったか</td>
    </tr>
    <tr>
      <td>入院前より1.2〜1.5kgくらい痩せたかな</td>
    </tr>
    <tr>
      <td>流石にバンドしたままではご飯が食べられない。顎の可動域が制限されすぎる。</td>
    </tr>
    <tr>
      <td>隣のベッドのおばあさん、生きる気力感じないから心配だわ</td>
    </tr>
    <tr>
      <td>「痛みに我慢強いほうですよねー」と言われることが多いのだけれど、他人と痛覚比較しようが無いから分かんない。。</td>
    </tr>
    <tr>
      <td>ドレッシングバンド効果、ほんとすごい。髄液どんどん吸収されてる。しかし勿論その分圧迫キツいけれども。</td>
    </tr>
    <tr>
      <td>最近フケがひどいなーと思っていたけれど、よくよく見てみたら瘡蓋だった。瘡蓋がパラパラ落ちてくる。</td>
    </tr>
    <tr>
      <td>ちなみにまだ頭皮のステープラーは外していません。傷口の進捗が微妙らしい、、</td>
    </tr>
    <tr>
      <td>首痛すぎてびっくりする</td>
    </tr>
    <tr>
      <td>頭部圧迫し続けすぎて、首に索状痕できてきた。苦しい……</td>
    </tr>
    <tr>
      <td>髪洗うたびに本気で引くほど髪抜けてく</td>
    </tr>
    <tr>
      <td>顔だけでも見たかったなあ🥺</td>
    </tr>
    <tr>
      <td>ゆかちゃまから病室に配給届いた。既に完食。ありがとね~~~~🎀 pic.twitter.com/uAor9aAgBY</td>
    </tr>
    <tr>
      <td>頭締め付けられすぎて、包帯から解き放たれると逆に違和感ある。</td>
    </tr>
    <tr>
      <td>これただのバンドだけれど、意外とお高くて4,000円ちょい。</td>
    </tr>
    <tr>
      <td>屋上庭園も閉まってるしほんと暇 pic.twitter.com/vORUHJgvqj</td>
    </tr>
    <tr>
      <td>ゲットできた pic.twitter.com/yRX8OMPhAQ</td>
    </tr>
    <tr>
      <td>コロナの影響で院内の図書館も閉まっているし本当に暇〜</td>
    </tr>
    <tr>
      <td>朝起きるとどうしても包帯ズレてるなあ。身体は下にずり落ちていく、それに対して包帯は頭頂部に向かってずり上がっていく。結果、首と顎が締まって苦しくて起きてる。</td>
    </tr>
    <tr>
      <td>ヒルズの多目的トイレで何度も子供のオムツ替えしてるわ🤮🤮🤮</td>
    </tr>
    <tr>
      <td>路面電車、懐かしいなあ。もうそんなに過去のことなのか。母校の最寄りの西野町駅。近くにカメラ屋さんがあって、よく使わなくなったフィルムを譲ってもらったっけ。(写真部だったので) 帰りに実保とコロッケ屋さんで買い食いしていたけど、もう今は無いのかなあ。 https://twitter.com/yogoren/status/1270693230158376961 …</td>
    </tr>
    <tr>
      <td>夜勤の看護師さん、本当に有難う御座います。。休める時にちゃんと休んでいただきたい……</td>
    </tr>
    <tr>
      <td>入院病棟は爪切りの持ち込みが不可(危険物扱い)なのだが、いよいよ切りたい長さになってきた、、。今は感染症の観点から、貸し出しも行なっていないそうです。\n看護師さん方にご相談したところ「(院内の)コンビニで買ってきていいですよー。コード切ったりしなさそうですし」とのこと。なるほどね。</td>
    </tr>
    <tr>
      <td>たまーに平衡感覚ヤバいときあるな~。気をつけないと。慣れた頃が1番危ないやつよね。</td>
    </tr>
    <tr>
      <td>ナナちゃんとtelした📲</td>
    </tr>
    <tr>
      <td>もうすっかり元気すぎる💪💪💪ので、ベッドの上で出来る筋トレしてる</td>
    </tr>
    <tr>
      <td>授業の時間以外が暇すぎてkindleばっかり読んでる。今日は採血とCTあったから多少暇潰しになったけれど、採血とCTで暇潰すのってどうかなと思う🤔</td>
    </tr>
    <tr>
      <td>授業とは言ってもフリートークなので、普通に友達と話してるようなかんじで、わたしにとっては窮屈な入院生活の中での思いっきりリラックスできるひとときなんだよな。</td>
    </tr>
    <tr>
      <td>今日も授業done</td>
    </tr>
    <tr>
      <td>欲しいのこれ pic.twitter.com/PCXvn32QR1</td>
    </tr>
    <tr>
      <td>「圧迫 バンド」で検索したら売ってたりするのかなーと思って調べてみたら、顔の脂肪吸引した人用？みたいなのしか出てこない。。後頭部寄りの頭頂部を圧迫したいんだよなあ、、、</td>
    </tr>
    <tr>
      <td>皮下貯留が減らないから、包帯の次のフェーズであるところのヘッドバンドを買ってきてくれ、というお達しが来た。院内のコンビニで購入できるとのことだったが、店員さんに確認してみたところ在庫切れ。発注かけても入荷は週明けとのこと。どうしよ。</td>
    </tr>
    <tr>
      <td>朝からポテトチップス食べてる</td>
    </tr>
    <tr>
      <td>顎と耳痛すぎて起きてた(包帯でガチガチにされてるから痛い)</td>
    </tr>
    <tr>
      <td>instagramに手術レポまとめてみたけれど、思いの外長くなりすぎて途中まで。\nまた気が向いたら書こう…\n https://www.instagram.com/p/CBNtzI2ph5A/?igshid=p6046krzp9z2 …</td>
    </tr>
    <tr>
      <td>なんか退院延びるっぽい。こんなに元気なのになあ🥺皮下に髄液結構貯留してるみたい、、</td>
    </tr>
    <tr>
      <td>動画アップするといつもめちゃくちゃ画質酷いのだけれど、これわたしの問題、、？</td>
    </tr>
    <tr>
      <td>皮下貯留でまだ頭皮プニプニなので、今日も落ち武者状態です。 pic.twitter.com/Rf7O0TATUn</td>
    </tr>
    <tr>
      <td>今日も元気に授業受けられた🤗ハッピー🌟</td>
    </tr>
    <tr>
      <td>開頭手術をしたらもうダイビングは出来なくなるのだろうなあ、淋しいなあ。と思っていたのだけれど、主治医曰く、別にしても大丈夫だよ~とのこと。</td>
    </tr>
    <tr>
      <td>う巻きが食べたい。出汁巻きのやつね。それに、うざくも。</td>
    </tr>
    <tr>
      <td>入院前日、気を遣った夫が「今日は鰻(わたしの好物)を食べようか。」と提案してくれたのだけれど、その前夜に作っておいた常備菜がたくさん冷蔵庫に残っていたから、結局そちらを食べたのだった。退院したら美味しいものたくさん食べる。勿論今の病院食も美味しいけれどね。</td>
    </tr>
    <tr>
      <td>今日もアイス🍨食べるね pic.twitter.com/Frwez7fyEX</td>
    </tr>
    <tr>
      <td>傷口治ってくるのと共に痒くなりつつあってやばい。頭皮じゃなくてね、その中が痒い。</td>
    </tr>
    <tr>
      <td>お刺身食べたいなあ🥺</td>
    </tr>
    <tr>
      <td>人体の自然治癒力？レジリエンス？って本当にすごいなあ。神秘的だと感じるほどに。まだ術後1週間経ってないけれど、もうほぼ普通。</td>
    </tr>
    <tr>
      <td>顔の浮腫みは減ってきた気がする</td>
    </tr>
    <tr>
      <td>頭痛は日に日に治まりつつあってサイコーなんだけど、意外とゾンビみたいな色になった手の甲とか腕とかが戻っていかない。</td>
    </tr>
    <tr>
      <td>筋弛緩剤のほうが全身麻酔よりも先に効き始めたらどうしようと怯えていたけれど、そんなことはなくて普通にアッサリ意識なくなって良かった</td>
    </tr>
    <tr>
      <td>100年以上謎だった「全身麻酔で意識がなくなる原因」が特定される https://nazology.net/archives/61379</td>
    </tr>
    <tr>
      <td>もしもやり直すことができるのであれば、1番やり直したいのが高校時代かも</td>
    </tr>
    <tr>
      <td>美味しい夢は見なかった😂高校時代の夢を見た。最近よく見る高校の頃が舞台の夢。なんでだろ、コンプレックス拗らせてたからかな🤔</td>
    </tr>
    <tr>
      <td>美味しい夢が見れますように🤤</td>
    </tr>
    <tr>
      <td>入院期間中分の息子の食事は全部入院前日にフリージングしておいた。</td>
    </tr>
    <tr>
      <td>わたしが高1~浪人生の間に通っていたような人権無視の監獄みたいな予備校って現代にはもう存在しないのだろうか</td>
    </tr>
    <tr>
      <td>入院中にハマったものは「氷まくら」。もうこれがないと眠れないほどのマストアイテム。</td>
    </tr>
    <tr>
      <td>昨日は1日、主人がひとりだけで息子のお世話をしてくれたみたい。朝起きてから夜ねんねまで。真のイクメンになった。頼もしいし超助かる🌟脳腫瘍ができて本当に良かった~🤗</td>
    </tr>
    <tr>
      <td>Google Mapsの情報がちょっとだけアレだったので編集してあげ直し</td>
    </tr>
    <tr>
      <td>不本意ながらも手術・入院することになったが、息子の育児面に関して言えば、オペレーションを共有できる人が増えた良い機会となったのかもしれない。\n入院するにあたって「子供と私の1日のそれぞれのタイムスケジュール」と「その詳細の引き継ぎ資料」を作って主人とお母様に共有させていただいた。 pic.twitter.com/IQsIoaBGw6</td>
    </tr>
    <tr>
      <td>なんか頭痛の質？が変わってきたかんじがあるなあ。</td>
    </tr>
    <tr>
      <td>主治医に、「傷口早く治すためには重力が大事！！」と言われてからは、頭痛くてもなるべく横にならず座って過ごすようにしている。</td>
    </tr>
    <tr>
      <td>手術前日の夢で牛タン食べてからずっと牛タン食べたいんだよな〜</td>
    </tr>
    <tr>
      <td>認知優位テストやってみたけど、ほぼ六角形だった。最初、結果が反映されていないのか？と思ったけれど、そんなことも無いっぽい\n https://overpass.dokkoisho.com/cognitive/  pic.twitter.com/bDhqqKLnQ5</td>
    </tr>
    <tr>
      <td>今日は午前中にSkypeの中国語の授業も再開した🤗術後初めての授業。教科書持ってきていないからフリートーク。ずっと中国語喋ってなさ過ぎているのと、手術の影響で喋れなくなっていたらどうしよう〜と思っていたけれど、还可以でした。</td>
    </tr>
    <tr>
      <td>今日も早めに鎮痛剤いただいて飲むことにしよう、、</td>
    </tr>
    <tr>
      <td>おいおいおいおいまた頭痛の波来てる😭夕食後に飲んだセレコックスどうした！！？？！頑張ってくれ！！！</td>
    </tr>
    <tr>
      <td>何気なく傷口を包帯の上から抑えてみたら、ペットボトルが凹むような「ﾍﾞｺｯﾍﾞｺｯ」という音が頭蓋骨に響いて😨\nこっっわ触らんとこ……ってなった………。痛みはないのだが…</td>
    </tr>
    <tr>
      <td>頭を徐々に下げてくと傷分かる\n実際には「コ」の字に結構大きく切っているけれど、髪を下ろしていれば隠れて一部しか露出しない。 pic.twitter.com/iYWL7vhrmW</td>
    </tr>
    <tr>
      <td>頭頂部を切っているので、前から見るとあんまり傷分かんない</td>
    </tr>
    <tr>
      <td>ゆかに「もう普段通りじゃん。明日遊べそう」って言われた。</td>
    </tr>
    <tr>
      <td>シャワー浴びて回復した✌️ pic.twitter.com/12L1vvh6KQ</td>
    </tr>
    <tr>
      <td>「洗って見た」も変換おかしいしやっぱりまだ腫瘍あるんかな🤔</td>
    </tr>
    <tr>
      <td>なんか恐る一つ多いな🤔？</td>
    </tr>
    <tr>
      <td>パックしてて顔も生き返る🥺</td>
    </tr>
    <tr>
      <td>6/2の夜ぶりにシャワー浴びられた！最＆高すぎる。。。午前中死んでたから今日はもうダメかと思っていた😭\n傷口も恐る恐る恐る洗って見た。血液と髄液とで？カピカピになっていた髪の毛が(引くほど抜けたけど)生き返った🌟</td>
    </tr>
    <tr>
      <td>ようやく鎮痛剤効いた。さえてる、今。</td>
    </tr>
    <tr>
      <td>経過のCTは気合で撮りに行ったけれど、シャワーは無理すぎるかんじの頭痛だったので延期していただいた。鎮痛剤また追加していただいた。そして何故か高血圧気味(147mmHg) 早く普通に戻ってくれーーーー！頼む！！！！</td>
    </tr>
    <tr>
      <td>なんか急遽(?)今日術後初シャワーを浴びることになった。が、しかし今それどころではないくらい頭が痛いので起き上がれるかしらこれ</td>
    </tr>
    <tr>
      <td>食欲はまああるのだけれど、焼き魚など、顎を動かさないと食べられないものは、頭に響いて痛くなってしまって食べられない。食べていると頭が痛くなってきてダウン。</td>
    </tr>
    <tr>
      <td>普通に頭痛い🤯</td>
    </tr>
    <tr>
      <td>身長伸びてる？！って思ったけど、よく考えなくとも包帯グルグル巻きの分だな</td>
    </tr>
    <tr>
      <td>同室に昨日入ってきた人、独り言が激しくて一気に賑やかな部屋になった😇</td>
    </tr>
    <tr>
      <td>だめだーー頭痛くて何もできぬ</td>
    </tr>
    <tr>
      <td>今日頭痛くてほとんど何もできなかったなーー、、、まあ仕方がないそういう日もある</td>
    </tr>
    <tr>
      <td>更に最悪なことには、手術当日＝生理2日目だった。上からも下からも血が出てヤバい。\n紙おむつを変えてもらいながら、あー息子もこういう気持ちなのかしらねー☺️お尻拭いてもらうと気持ちがいいわねー☺️と考えていた。脳が赤ちゃんだった。いや、寝返りもできないし全身赤ちゃんだったか。</td>
    </tr>
    <tr>
      <td>左右への寝返りも自力では打てないし、ベッドの傾斜でズルズルと落ちてくるため、看護師さん3人がかりで持ち上げて体勢を整えてもらっていた。\n水を飲むのも禁止なので、喉が渇くと、口に水を含ませてもらって、ペッと吐き出すのを何回かさせていただいた。</td>
    </tr>
    <tr>
      <td>ICUでは吐き気と痛みでほぼ眠れず。あんなにも時間が経つのが遅いと感じたことは無い😂笑　「今何時になりましたか？」と訊ねると大抵1時間くらいしか経過していなくて絶望する。隣の部屋から発狂した人の声聴こえてくるしビビる。\n吐きすぎて胆汁が口の中のデフォルトフレイバーになる。</td>
    </tr>
    <tr>
      <td>術後すぐの頃の話をします。\n全身麻酔下では自発呼吸は無理なので、気管挿管(人工呼吸器)されていました。目が醒めてまず深呼吸を促されて、深呼吸。それに合わせてチューブを抜かれたような記憶があるようなないような。朦朧としていたので殆ど覚えていません。そのままCTを撮られました。</td>
    </tr>
    <tr>
      <td>鎮痛剤追加</td>
    </tr>
    <tr>
      <td>特に今のところ後遺症無い気がするけれど、やたらとくしゃみがでます🤧</td>
    </tr>
    <tr>
      <td>指先に付けっ放しになっているSpO2プローブがはずれると看護師さんが飛んでくる。手を洗うため一時的にはずしてました、すみません。</td>
    </tr>
    <tr>
      <td>月並みな言葉を並べることはできるので、それで満足してもらえるのであれば良いけれど、あまり気持ちが篭ってない気がして申し訳ないな〜とよく思う。</td>
    </tr>
    <tr>
      <td>何があっても「まあそういうときもあるよね〜」と感じて、基本的に受け流してしまうほうなので、自分が頭蓋骨を開けても、まあ人生そういうときもあるかもな〜だし、今の頭痛もまあ仕方がないよな〜だし、他人にアドバイスをしたり励ますのが下手だと思う。多分共感力が足りないので参考にならない。</td>
    </tr>
    <tr>
      <td>今10代だったら確実に地雷系ファッションしてると思う</td>
    </tr>
    <tr>
      <td>頭皮のステープラー、看護師さんに撮っていただいて、超鮮明に撮影できた。個人的にはアリ(?)だが、グロくてBANされそうなのでアップ出来ない……😂</td>
    </tr>
    <tr>
      <td>便利になる</td>
    </tr>
    <tr>
      <td>虎ノ門ヒルズ駅、出来たのか。</td>
    </tr>
    <tr>
      <td>頭痛が酷い、、、これがピークなのかな。\n常に鎮痛剤は内服&amp;点滴で入れてるのだけれど、効いているのかよく分からない</td>
    </tr>
    <tr>
      <td>頭痛酷いので鎮痛剤追加</td>
    </tr>
    <tr>
      <td>包帯再度巻き直し。\n傷口を結構押されるとベコベコと水の音がする部分があるような？よく分かんないけども……最終的には吸収されるらしいしそんなに気にしてないが🤕</td>
    </tr>
    <tr>
      <td>お夕食、白米以外は全部食べた！</td>
    </tr>
    <tr>
      <td>あーーーまた頭痛の波来てる、、。アイス買いに行けないなこれ…🍨😢\nというかそもそもこのフロアから出たい(アイスの帰るコンビニは別のフロアにある)って言ったら、看護師さん付き添えないしダメって止められそうだな。</td>
    </tr>
    <tr>
      <td>推しに似た髪型になった(?) pic.twitter.com/C7cPFgeh4s</td>
    </tr>
    <tr>
      <td>顔腫れてる？というか浮腫んでる？</td>
    </tr>
    <tr>
      <td>なんか普通に元気になってきたアイス食べたい🍨</td>
    </tr>
    <tr>
      <td>今日お昼から造影MRI撮るよーって言われて😨😨どちらかと言われると手術より嫌だわ………意識がある分………</td>
    </tr>
    <tr>
      <td>ついに本当にサイボーグになったんだ！やったねー！🤗🤗</td>
    </tr>
    <tr>
      <td>【微妙に閲覧注意】ですが、\nガーゼ交換の際に傷口を撮ってみました。下手すぎてあまり写っていないけれど、頭皮にステープラーが付いている。\nスチームパンクっぽくてちょっとカッコいい気がする💀 pic.twitter.com/FrnNGnW0yN</td>
    </tr>
    <tr>
      <td>微熱はずっと続いている。37.5℃くらいまでのやつ。まあ仕方がないよねーと受け入れている。</td>
    </tr>
    <tr>
      <td>良くなったと思ったら、ダウンしたり、また良くなったり、を繰り返しつつ随分起き上がれるようになってきました。先程ちょっとだけ立ち上がって介助してもらいつつ歩きました。二足歩行するだけでめちゃくちゃ褒めてもらえて最高。尿カテーテルも抜いていただきました。</td>
    </tr>
    <tr>
      <td>やっぱり吐き気が厳しい</td>
    </tr>
    <tr>
      <td>1,2回どころか通算30回は吐いてる🤗吐くまでには至らないえずくだけのやつはもう数え切れないほどやってる、、 https://twitter.com/_01/status/1267791612198875140 …</td>
    </tr>
    <tr>
      <td>夜まで熱が38℃くらいあったけれど、今は痛み止めの解熱作用で熱がひいてる</td>
    </tr>
    <tr>
      <td>看護師さんって本当に大変なお仕事だなー。。頭が上がらない。(物理的にも今は頭上がらないけど。)\n夜中も1時間おきに生きてるか、状態に変わりはないかチェックされてる。</td>
    </tr>
    <tr>
      <td>お昼ご飯はオレンジだけ恐る恐る齧ってみたのですけれど、直後に吐いてしまってだめだったそれがかなり悔しくて、夜は京菜のお浸しだけだけど完食した！！！！自力でご飯を食べられると「オラ！俺様がこの身体の主人だぞ！わかったか！！」って知らしめる感(誰に？)湧いてきて良い。</td>
    </tr>
    <tr>
      <td>これから病状は良くなっていく一方だなー。人生の中で、「この先良くなっていく一方だ」なんて確信を持って言えることって少ないから、なんだかポジティブに楽しく吐いてる🤮吐くたびに良くなっていく気がしている💪💪\nそんな中、主治医が一言「明日の夜が頭痛のピークだよ🤗」えっ、、、</td>
    </tr>
    <tr>
      <td>身体中コードだらけで絡まりすぎて何がなんだか</td>
    </tr>
    <tr>
      <td>これ50代くらいだったら体力無くて死んでたかもしれない、、吐き気がしんどすぎて………</td>
    </tr>
    <tr>
      <td>昨日は一晩ICUにて過ごしました。\n死ぬほど酷い吐き気が50回くらい襲ってきて、20回くらい胃液と胆汁の混じった黒くて苦い液体を吐きました🤮今は吐き気留めが効いているのか落ち着いてきましたが、まだ座ったり立ったりはできません。上体を起こすと吐きます。あと当たり前ですが頭痛が酷いです。</td>
    </tr>
    <tr>
      <td>とりあえず、生きてます！！！！</td>
    </tr>
    <tr>
      <td>行ってきます</td>
    </tr>
    <tr>
      <td>なんか右耳付近にいろいろマーキングされた(眉毛無い) pic.twitter.com/GsIBCvpnoH</td>
    </tr>
    <tr>
      <td>手術着に着替えて待機してる</td>
    </tr>
    <tr>
      <td>頭蓋骨開けられている間も、夢って見るのかなあ？わたしほぼ毎日見るし、その95%くらいは明晰夢なんだけど…</td>
    </tr>
    <tr>
      <td>もういい加減起きるね…</td>
    </tr>
    <tr>
      <td>二度寝したら今度は、手術前で飲食禁止中なのにうっかり牛タン食べちゃってヤバイ😨！！みたいな夢見た、、</td>
    </tr>
    <tr>
      <td>同窓会参加して、手術間に合わない夢見た😨</td>
    </tr>
    <tr>
      <td>もうほんと二度とやりたくない検査、今のところワースト1かな、脳アンギオ……………</td>
    </tr>
    <tr>
      <td>尿カテーテルは初めてではないので、その不快感や、痛さ、抜いた後の自力排尿時の激痛も勿論知っていた。それでも自らお願いしたくなるほど、検査直後は耐え難いしんどさだった。</td>
    </tr>
    <tr>
      <td>脳アンギオの検査直後、朦朧としているし疲弊しているし身体はうまく動かせないしで、とてもでは無いけれど自力で尿瓶に排尿できる気がしなくて、「お、お願いします、尿カテーテル、尿カテーテルを入れてください、、、」って懇願したの今思い出しても屈辱的というか陵辱的だったな………</td>
    </tr>
    <tr>
      <td>術後どんなに状態が良好でも、まあ1,2回は吐くと思うよ〜とのこと。</td>
    </tr>
    <tr>
      <td>明日全身麻酔から醒めたら、脳腫瘍無くなってて、硬膜一部無くなってて代わりに骨膜でパッチワークみたいに塞がれてて、頭蓋骨にチタンプレートと人工骨のセメント入ってて、頭皮ホチキスで止められてるのか〜〜〜あーなんかワクワクするなあ🤗🤗</td>
    </tr>
    <tr>
      <td>術後ICUに一晩入る予定なのだが、その説明資料にあった、術後こんな状態ですよ〜みたいな人体図(?)、頭から脚まで全身から管が10本くらい出ていてなんか笑ってしまった</td>
    </tr>
    <tr>
      <td>これで頭蓋骨を固定されるらしい🙂\n頭は空中に浮いている感じ？になる🙂🙂\n首痛めそう🙂 pic.twitter.com/xLmcq3zvWW</td>
    </tr>
    <tr>
      <td>昨日は採血のみ、今日は検査も無くなって暇。明日は朝イチで手術。</td>
    </tr>
    <tr>
      <td>手術前にアイス🍨食べたいなー美味しいやつ</td>
    </tr>
    <tr>
      <td>朝から総回診的なものがあり圧巻だったが、わたしは顔にパックを貼り付けておりマヌケ面だった。</td>
    </tr>
    <tr>
      <td>病棟って夜中でもモニター音やナースコールでめちゃくちゃうるさい上に完全には消灯しないので、目を閉じるだけでは眠れない。耳栓とアイマスクは必須アイテ厶。耳栓については今回何種類も買い比べし、厳選した2種類を持ち込んだ。</td>
    </tr>
    <tr>
      <td>今朝から再入院しています</td>
    </tr>
    <tr>
      <td>5年前の今日らしいです pic.twitter.com/mYZFIjz7aq</td>
    </tr>
    <tr>
      <td>産後抜け毛の量が尋常ではなくて、長い間短い毛がピヨピヨ🐣とアホ毛が酷かったけれど、あれの比じゃないくらい煩わしいことになりそう。。</td>
    </tr>
    <tr>
      <td>ついでに子供の証明写真も撮っていただいたのだけれど、「同じ場所でカメラ目線のまま立ち続けさせる」のが難易度高かった。笑</td>
    </tr>
    <tr>
      <td>頭蓋骨切る際、髪を剃ることになるので、剃る前記念に(?)写真を撮ってきました。 pic.twitter.com/bCaCmBhJvT</td>
    </tr>
    <tr>
      <td>そういえば今日久しぶりにメイクしたら、何故か息子がめっちゃ眉毛触りに這い寄ってくるようになっていたな…。あれなんだったんだろ🤔\nこいつ眉毛増えてる！？？！触りたい！！！って思ったのかな…</td>
    </tr>
    <tr>
      <td>髪も切りました</td>
    </tr>
    <tr>
      <td>髪染めました(ゆか報告用)</td>
    </tr>
    <tr>
      <td>今日は早めに眠らなくてはと思いつつ寝てない。はよねよ、、</td>
    </tr>
    <tr>
      <td>もう7:30くらいかと思って起きたら、まだ5:20くらいだった。昨日mi bandを充電してから眠ったから起きたときに時間が分からず。子供ももぞもぞと起きていたからそのまま一緒にリビングへ来てしまったが、朝食の時間までまだまだ時間あるな、、</td>
    </tr>
    <tr>
      <td>子供と共に変な時間に起きてしまった、、</td>
    </tr>
    <tr>
      <td>入院するまでにやっておきたい家事が多い</td>
    </tr>
    <tr>
      <td>家にある3台の加湿空気清浄機のうち、2台のメンテナンスを済ませた。</td>
    </tr>
    <tr>
      <td>何故子供は移動するときに常に小走りなのだろう。忙しげだ。</td>
    </tr>
    <tr>
      <td>朝から家中の窓と網戸のお掃除をしてスッキリした。</td>
    </tr>
    <tr>
      <td>ピンポイントで(恐らく)腫瘍のある付近だけに頭痛が発生している。\n主人が「腫瘍もそろそろ切除されると知って、必死に抵抗しているんじゃない？」と言っていて、「お、そうかもな🤔？」と思った。</td>
    </tr>
    <tr>
      <td>他に何かしておくべきことあるかなあ。。\n今のうちにヘアアレンジ楽しんだりしておくべき🤔？\nヘアアレンジどころか日焼け止め以外のメイクをしなくなってから久しいが……</td>
    </tr>
    <tr>
      <td>「術後3,4ヶ月は髪の毛を染めたりできないので、直前に染めておいてね」と言われているので、この週末にかなり久しぶりの染髪予定を入れた。コロナも収束しきってはいないので心配ではあるが……</td>
    </tr>
    <tr>
      <td>今日頭痛い😞</td>
    </tr>
    <tr>
      <td>スコスコ系が好み</td>
    </tr>
    <tr>
      <td>息子のお気に入りのキーボード。1歳児にも好みのキーボードがあるっぽい。 pic.twitter.com/TPHi0SsSmU</td>
    </tr>
    <tr>
      <td>再入院前に美味しいもの、甘いものをたらふく食べておきたいな〜〜〜</td>
    </tr>
    <tr>
      <td>息子の最近のマイブームが、一度口に含んだ麦茶を何故か口から、ダラ〜〜🤪っと出しながらニヤニヤする遊び。その瞬間勿論トップス、インナー、パンツ全てびしょ濡れになるから着替えさせている😇頼むから口に入れた麦茶はそのまま飲み込んでくれ！！</td>
    </tr>
    <tr>
      <td>年のせいか記憶力が悪くなっていて、何度聞いても読んでも「ホイールローダー」が憶えられない………。ブルドーザーやダンプトラックなどはすぐに出てくるのに…。\nそういうときには最近ついつい脳腫瘍のせいにしちゃう😚</td>
    </tr>
    <tr>
      <td>カテーテルを入れていた動脈のあたりに未だに鈍痛ある😌打撲後のような筋肉痛のような鈍痛。</td>
    </tr>
    <tr>
      <td>「コの字に切る予定です〜」と伝えられているのだけれど、コの字の大きさは告げられていない。どのくらいの傷痕になるのか🤔</td>
    </tr>
    <tr>
      <td>『コンテイジョン』を観ていたら、感染者の女性が病理解剖にて、頭皮を切られ顔面側にペロッとめくられて頭蓋骨を切られるシーンがあり、「あ、これ数日後に自分もされるやつか……」と思って呆然としていた。</td>
    </tr>
    <tr>
      <td>今日は子供用のおかずストックも大人用の常備菜もたくさん作ることができたので、自分を褒めることにする。</td>
    </tr>
    <tr>
      <td>久しぶりに昨日『SAW』を観て、今日は『SAW2』観た。</td>
    </tr>
    <tr>
      <td>そういえば日曜に一時退院しました。次の入院は6/1〜です。(自己血採血しているので、貧血気味のこともあり、採血直後には手術できない。) 6/3手術予定。</td>
    </tr>
    <tr>
      <td>そういえば息子のヘルメットを買って、意外と高いことに驚いた。約7,500円。ストライダー本体の半額くらい。普段自転車用品を気にしたり買ったりすることがなかったから知らなかったけれど、頭部を守る重要な役割だものね。</td>
    </tr>
    <tr>
      <td>息子 pic.twitter.com/7IwbKtSYvu</td>
    </tr>
  </tbody>
</table>