<form action={% url 'search' %}  method="get">
    <label>Name:<input type="text" size="10" name="your_name"></label>
    <input type="submit" value="send">
</form>

<form action="" method="get">
    <label>Name:<input type="text" size="10" name="your_name"></label>
    <input type="submit" value="send">
</form>
{% if your_name %}
{{ your_name }} ,hello

your name is {{ name }}

{% endif %}
<br>
<form action="search/" method="get">
<input type="text" name="q">
<input type="submit" value="search">
</form>
