<!DOCTYPE html>
<html>
<head>
    <title>DeepBird</title>
</head>
<body>
    <pre><center>
        <h1>Deep Bird</h1>
        <h3>i want to know you.</h3>
        <h2>{{ html }}</h2>
        <form action = 'your-name/' method="post">
            <!-- Very Important csrf Token -->
            <label for="your_name">Your name:</label>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" value="OK">
        </form>
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="register">
    </form>
    </center></pre>
</body>
