<html>
<head></head>

<body>
    <form action={% url 'get' %}  method="get">
        <label>Who Reply To You?:<input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>
    
    ---
    
    <form action={% url 'search' %}  method="get">
        <label>change page:<input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>
    
    ---
    
    <form action="" method="get">
        <label>this page:<input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>
    
    {% if your_name %}
    {{ your_name }} ,hello
    
    your name is {{ name }}
    
    {% endif %}
    
    <form action={% url 'tohtml' %} method="get">
        <label>tohtml: <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>

</body>

</html>
