<!-- https://django-allauth.readthedocs.io/en/latest/templates.html-->
<!-- templates/home.html -->

こんにちは。
{% load socialaccount %}
{% load account %}

{% user_display user %}
{% get_social_accounts user as accounts %}

{{accounts.twitter}}

<a href="{% provider_login_url "twitter" %}">Twitter</a>

<h1>DeepBird</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
<a href="{% provider_login_url "twitter" process="connect" %}">Connect a Twitter account</a>


<p>{{ user.id }}</p>
{{ user.uid }}
{{user.password}}

{% else %}
<a href="{% provider_login_url 'twitter' %}">Sign Up</a>
{% endif %}


