<html>
    <body>
        {{ output }}
        
        {% for d in df %}
        {{ d }}
        {% endfor %}

        {{a}}


        {{ df }}
        {{ res }}
        {% for tweet in public_tweets %}
        <p>{{ tweet.text }}</p>
        {% endfor %}


        <h1>Data for Frame</h1>
        <table border="1px">
            <tr>
                {% for data in df %}
                    <th>{{ data }}</th>
                {% endfor %}
         
                {% for _, record in df.iterrows %}
                    <tr>
                        {% for value in data %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
        </table>

{{ table|safe }}


{% for i, r in df.iterrows %}
{{ r.a }} -> {{ r.b }} -> {{ r.c }}
{% endfor %}


{{ dfhtml }}

    </body>
</html>