{% load static %} 


<html>
<head>

	    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> 


</head>

<body>

    <center>

        deepH
<br>
<br>


    <form action={% url 'get' %}  method="get">
        <label>@ <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="👉">
    </form>





</center>


</body>

</html>
