{% load static %} 


<html>
<head>

	    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> 


</head>

<body>

    <center>

        deepH
<br>
<br>


    <form action={% url 'get' %}  method="get">
        <label>@ <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="👉">
    </form>
    



    <form action={% url 'get2' %}  method="get">
        <label>全てのツイートを取得するget tweet <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>

    <form action={% url 'get2' %}  method="get">
        <label>アンフォローする <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>

    <form action={% url 'get2' %}  method="get">
        <label>全てのツイートをダウンロード <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>

    <form action={% url 'get2' %}  method="get">
        <label>全てのリプライをダウンロード <input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>


    <form action={% url 'get2' %}  method="get">
        <label>全てのフォロワーをダウンロード　<input type="text" size="10" name="your_name"></label>
        <input type="submit" value="send">
    </form>

</center>


</body>

</html>
~          
