<form action="{% url 'polls:collect_tweets' %}" method="post">
    {% csrf_token %}
        <label for="1">Username: </label><br />
        <input name="user_name" id="1"/>
    <input type="submit" value="Submit" />
    </form>